.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
.vscode
Tests/Data/**
!Tests/Data/JSONContract/
!Tests/Data/JSONContract/**
complete_project.txt
