.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
.vscode
Tests/**
!Tests/SwiftWABackupAPITests/
Tests/SwiftWABackupAPITests/**
!Tests/SwiftWABackupAPITests/Public/
!Tests/SwiftWABackupAPITests/Public/**
Private/
output/
